absl-py==0.10.0
alabaster==0.7.12
anyio==2.2.0
argon2-cffi==20.1.0
astropy==4.2
astroquery==0.4.1
asttokens==2.0.4
astunparse==1.6.3
async-generator==1.10
Babel==2.8.0
backports.functools-lru-cache==1.6.1
beautifulsoup4==4.9.1
bleach==3.3.0
build==0.2.1
bump2version==1.0.1
bumpversion==0.6.0
cachetools==4.1.1
certifi==2020.12.5
cffi==1.14.2
chardet==3.0.4
colorama==0.4.4
configobj==5.0.6
corner==2.1.0
cryptography==3.3.2
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
dill==0.3.3
docutils==0.16
emcee==3.0.2
executing==0.5.4
exodata==2.1.7
flatbuffers==1.12
future==0.18.2
gast==0.3.3
google-auth==1.22.1
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
GPy==1.9.9
grpcio==1.32.0
h5py==2.10.0
h5py-wrapper==1.1.0
hdfdict==0.3.1
html5lib==1.1
idna==2.10
imagesize==1.2.0
ipython-genutils==0.2.0
jeepney==0.4.3
Jinja2==2.11.3
joblib==0.16.0
json5==0.9.5
jupyter==1.0.0
jupyter-console==6.1.0
jupyter-packaging==0.7.12
jupyter-server==1.5.1
jupyterlab==3.1.0a3
jupyterlab-server==2.4.0
jupyterlab-sublime==0.4.1
keepachangelog==0.4.0
Keras==2.4.3
Keras-Preprocessing==1.1.2
keyring==21.4.0
llvmlite==0.34.0
Markdown==3.3.2
matplotlib==3.3.4
molmass==2020.6.10
mpmath==1.1.0
nbclassic==0.2.7
nbsphinx==0.7.1
nestle==0.2.0
nose==1.3.7
notebook==6.1.5
numba==0.51.1
numexpr==2.7.1
numpy==1.19.4
oauthlib==3.1.0
opt-einsum==3.3.0
pandas==1.1.1
pandocfilters==1.4.2
paramz==0.9.5
pep517==0.9.1
pkginfo==1.7.0
pockets==0.9.1
protobuf==3.13.0
ptyprocess==0.6.0
pure-eval==0.1.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pydata-sphinx-theme==0.4.3
pyerfa==1.7.2
Pygments==2.7.4
pylightcurve==4.0.1
pyparsing==2.4.7
pytest-runner==5.2
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.4
pyzmq==20.0.0
qtconsole==4.7.6
QtPy==1.9.0
quantities==0.12.4
readme-renderer==28.0
requests==2.24.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
rfc3986==1.4.0
rsa==4.7
scikit-learn==0.23.2
scipy==1.6.1
seaborn==0.10.1
SecretStorage==3.1.2
Send2Trash==1.5.0
setuptools-scm==4.1.2
sklearn==0.0
sniffio==1.2.0
snowballstemmer==2.0.0
soupsieve==2.0.1
Sphinx==3.2.1
sphinx-rtd-theme==0.5.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-napoleon==0.7
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
tabulate==0.8.7
tensorboard==2.4.1
tensorboard-plugin-wit==1.7.0
tensorflow==2.4.1
tensorflow-estimator==2.4.0
termcolor==1.1.0
testpath==0.4.4
threadpoolctl==2.1.0
toml==0.10.2
tqdm==4.51.0
twine==3.3.0
typing-extensions==3.7.4.3
urllib3==1.25.10
varname==0.6.3
webencodings==0.5.1
Werkzeug==1.0.1
wrapt==1.12.1
xlrd==1.2.0
xlwt==1.3.0
nbsphinx
sphinx_rtd_theme